USE [master]
GO
/****** Object:  Database [LISTADO_ALUMNOS]    Script Date: 30/07/2021 16:20:22 ******/
CREATE DATABASE [LISTADO_ALUMNOS] ON  PRIMARY 
( NAME = N'LISTADO_ALUMNOS', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSVANESA\MSSQL\DATA\LISTADO_ALUMNOS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LISTADO_ALUMNOS_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSVANESA\MSSQL\DATA\LISTADO_ALUMNOS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LISTADO_ALUMNOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LISTADO_ALUMNOS]
GO
/****** Object:  Table [dbo].[LISTADO_ALUMNOS]    Script Date: 30/07/2021 16:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTADO_ALUMNOS](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](30) NULL,
	[DNI] [nvarchar](10) NOT NULL,
	[TURNO] [nvarchar](10) NULL,
	[SEXO] [nvarchar](10) NULL,
	[REPETIDOR] [bit] NULL,
	[MODULO] [nvarchar](10) NULL,
	[ESPECIALIDAD] [nvarchar](25) NULL,
 CONSTRAINT [PK_LISTADO_ALUMNOS] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LISTADO_ALUMNOS] ON 

INSERT [dbo].[LISTADO_ALUMNOS] ([CODIGO], [NOMBRE], [DNI], [TURNO], [SEXO], [REPETIDOR], [MODULO], [ESPECIALIDAD]) VALUES (2, N'ine', N'25', N'NOCTURNO', N'FEMENINO', NULL, N'DAM', N'COMPUTACIÓN E INFORMÁTICA')
INSERT [dbo].[LISTADO_ALUMNOS] ([CODIGO], [NOMBRE], [DNI], [TURNO], [SEXO], [REPETIDOR], [MODULO], [ESPECIALIDAD]) VALUES (7, N'SAPH', N'12', N'DIURNO', N'FEMENINO', NULL, N'DAW', N'APLICACIONES WEB')
SET IDENTITY_INSERT [dbo].[LISTADO_ALUMNOS] OFF
GO
/****** Object:  StoredProcedure [dbo].[buscar_codigoAlumno]    Script Date: 30/07/2021 16:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[buscar_codigoAlumno]
@codigo int
AS
SELECT * FROM LISTADO_ALUMNOS
WHERE codigo LIKE @codigo;
GO
/****** Object:  StoredProcedure [dbo].[buscar_DNIAlumno]    Script Date: 30/07/2021 16:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[buscar_DNIAlumno]
@DNI varchar(10)
AS
SELECT * FROM LISTADO_ALUMNOS
WHERE DNI LIKE @DNI;
GO
/****** Object:  StoredProcedure [dbo].[mostrar_datos]    Script Date: 30/07/2021 16:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mostrar_datos]
AS
SELECT *
FROM LISTADO_ALUMNOS;
GO
USE [master]
GO
