USE [master]
GO
/****** Object:  Database [REPASO_JUEVES]    Script Date: 30/07/2021 16:21:02 ******/
CREATE DATABASE [REPASO_JUEVES] ON  PRIMARY 
( NAME = N'REPASO_JUEVES', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSVANESA\MSSQL\DATA\REPASO_JUEVES.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'REPASO_JUEVES_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSVANESA\MSSQL\DATA\REPASO_JUEVES_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [REPASO_JUEVES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [REPASO_JUEVES]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 30/07/2021 16:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IDCLIENTE] [varchar](5) NOT NULL,
	[APELLIDOS] [varchar](30) NULL,
	[NOMBRES] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 30/07/2021 16:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[IDCLIENTE] [varchar](5) NULL,
	[IDCUENTA] [varchar](5) NOT NULL,
	[SALDO] [float] NULL,
	[DIVISA] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTO]    Script Date: 30/07/2021 16:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTO](
	[IDCUENTA] [varchar](5) NULL,
	[IDMOVIMIENTO] [varchar](5) NOT NULL,
	[TIPO] [varchar](20) NULL,
	[MONTO] [float] NULL,
	[FECHA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMOVIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTE] ([IDCLIENTE], [APELLIDOS], [NOMBRES]) VALUES (N'', N'', N'')
INSERT [dbo].[CLIENTE] ([IDCLIENTE], [APELLIDOS], [NOMBRES]) VALUES (N'B13', N'1', N'1')
INSERT [dbo].[CLIENTE] ([IDCLIENTE], [APELLIDOS], [NOMBRES]) VALUES (N'B15', N'RODRIGUEZ CUETO', N'JUAN')
GO
INSERT [dbo].[CUENTA] ([IDCLIENTE], [IDCUENTA], [SALDO], [DIVISA]) VALUES (N'B52', N'J4978', 450000, N'EUROS')
INSERT [dbo].[CUENTA] ([IDCLIENTE], [IDCUENTA], [SALDO], [DIVISA]) VALUES (N'B85', N'P6325', 18200, N'EUROS')
INSERT [dbo].[CUENTA] ([IDCLIENTE], [IDCUENTA], [SALDO], [DIVISA]) VALUES (N'B15', N'P9856', 4500, N'EUROS')
GO
INSERT [dbo].[MOVIMIENTO] ([IDCUENTA], [IDMOVIMIENTO], [TIPO], [MONTO], [FECHA]) VALUES (N'J4978', N'BP859', N'EXTRACCIÓN', 2500, CAST(N'2021-06-25' AS Date))
INSERT [dbo].[MOVIMIENTO] ([IDCUENTA], [IDMOVIMIENTO], [TIPO], [MONTO], [FECHA]) VALUES (N'P6325', N'CJ749', N'INGRESO', 4500, CAST(N'2021-07-15' AS Date))
INSERT [dbo].[MOVIMIENTO] ([IDCUENTA], [IDMOVIMIENTO], [TIPO], [MONTO], [FECHA]) VALUES (N'P9856', N'TF789', N'TRANSFERENCIA', 1200, CAST(N'2021-07-21' AS Date))
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [fk_cuenta] FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTE] ([IDCLIENTE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [fk_cuenta]
GO
ALTER TABLE [dbo].[MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [fk_movimiento] FOREIGN KEY([IDCUENTA])
REFERENCES [dbo].[CUENTA] ([IDCUENTA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIMIENTO] CHECK CONSTRAINT [fk_movimiento]
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_APELLIDOS]    Script Date: 30/07/2021 16:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_APELLIDOS]
@apellidos varchar(30)
AS
SELECT * from Cliente
where APELLIDOS LIKE @apellidos
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_NOMBRE]    Script Date: 30/07/2021 16:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_NOMBRE]
@nombre varchar(30)
AS
SELECT * from Cliente
where NOMBRES LIKE @nombre
GO
/****** Object:  StoredProcedure [dbo].[buscarCliente]    Script Date: 30/07/2021 16:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[buscarCliente]
@idcliente varchar(5)
AS
SELECT * from Cliente
where IDCLIENTE LIKE @idcliente
GO
/****** Object:  StoredProcedure [dbo].[EliminarCliente JUEVES]    Script Date: 30/07/2021 16:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarCliente JUEVES]
@idcliente varchar(5)
AS
Delete from Cliente
WHERE @idcliente = IDCLIENTE
GO
/****** Object:  StoredProcedure [dbo].[Insertarcliente]    Script Date: 30/07/2021 16:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insertarcliente]
@idcliente varchar(5),
@apellidos varchar(30),
@nombres varchar(30)
AS
INSERT INTO Cliente(IDCLIENTE, APELLIDOS, NOMBRES)
VALUES(@idcliente, @apellidos, @nombres);
GO
/****** Object:  StoredProcedure [dbo].[modificarcliente]    Script Date: 30/07/2021 16:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[modificarcliente]
@idcliente varchar(5),
@nombres varchar(30),
@apellidos varchar(30)
AS
UPDATE Cliente
SET idcliente=@idcliente, nombres=@nombres, apellidos=@apellidos
WHERE IDCLIENTE=@idcliente;
GO
/****** Object:  StoredProcedure [dbo].[MostrarClientes]    Script Date: 30/07/2021 16:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarClientes]
AS
SELECT *
FROM CLIENTE;
GO
USE [master]
GO
