USE [master]
GO
/****** Object:  Database [EMPLEADOS_HOSPITAL]    Script Date: 02/08/2021 17:55:52 ******/
CREATE DATABASE [EMPLEADOS_HOSPITAL] ON  PRIMARY 
( NAME = N'EMPLEADOS_HOSPITAL', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSVANESA\MSSQL\DATA\EMPLEADOS_HOSPITAL.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EMPLEADOS_HOSPITAL_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSVANESA\MSSQL\DATA\EMPLEADOS_HOSPITAL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPLEADOS_HOSPITAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMPLEADOS_HOSPITAL]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 02/08/2021 17:55:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](20) NULL,
	[Apellido] [varchar](20) NULL,
	[Edad] [int] NULL,
	[Casado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[empleados] ([ID], [Nombre], [Apellido], [Edad], [Casado]) VALUES (1, N'PACO', N'GONZALEZ', 35, 0)
INSERT [dbo].[empleados] ([ID], [Nombre], [Apellido], [Edad], [Casado]) VALUES (2, N'MANOLO', N'FUERTES', 21, 0)
GO
USE [master]
GO
