USE [master]
GO
/****** Object:  Database [INYECCION_SQL]    Script Date: 30/07/2021 16:18:29 ******/
CREATE DATABASE [INYECCION_SQL] ON  PRIMARY 
( NAME = N'INYECCION_SQL', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSVANESA\MSSQL\DATA\INYECCION_SQL.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'INYECCION_SQL_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSVANESA\MSSQL\DATA\INYECCION_SQL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INYECCION_SQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INYECCION_SQL]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 30/07/2021 16:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[ID] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Edad] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Personas] ([ID], [Nombre], [Edad]) VALUES (15, N'sdfgñ', 25)
INSERT [dbo].[Personas] ([ID], [Nombre], [Edad]) VALUES (15, N'sadfa', 28)
INSERT [dbo].[Personas] ([ID], [Nombre], [Edad]) VALUES (1, N'dddd', 1)
GO
USE [master]
GO
